<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    {{ partial "head" . }}

  </head>
  <body>
      {{ partial "header" .}}
      <div>
        <div>
            {{ if isset .Params "id" }}

              {{ partial .Params.id . }}

            {{ else }}

            <div class="container-single">

                <div>

                    <div>

                        <div>
                          {{ .Content }}
                        </div>

                    </div>

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->

            {{ end }}
        </div>
        <!-- /#content -->

        {{ partial "footer" . }}

    </div>
    <!-- /#all -->

  </body>
</html>
