<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    {{ partial "head" . }}

  </head>

  <body class="body">
    <header class="header">
      {{ partial "header" .}}
    </header>
    <div id="all">
        <div id="content">
            {{ if isset .Params "id" }}

              {{ partial .Params.id . }}

            {{ else }}

            <div class="container-single">

                <div class="row">

                    <div class="col-md-12">

                        <div>
                          {{ .Content }}
                        </div>

                    </div>

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->

            {{ end }}
        </div>
        <!-- /#content -->

        {{ partial "footer" . }}

    </div>
    <!-- /#all -->

  </body>
</html>
