@font-face {
    font-family: 'Edwardian Script ITC';
    src: url("fonts/ITCEDSCR.TTF");
}

@font-face {
    font-family: 'Pinyon Script';
    src: url("fonts/PinyonScript-Regular.ttf");
}

@font-face {
    font-family: 'ADLaM Display';
    src: url("fonts/ADLaMDisplay-Regular.ttf");
}

@font-face {
    font-family: 'Lobster';
    src: url("fonts/Lobster-Regular.ttf");
}

@font-face {
    font-family: 'Josefin Sans';
    src: url("fonts/JosefinSans-VariableFont_wght.ttf");
}

@font-face {
    font-family: 'Gabriola';
    src: url("fonts/Gabriola.ttf");
}

@font-face {
    font-family: 'Titillium Web';
    src: url("fonts/TitilliumWeb-ExtraLight.ttf");
}

:root {
    --yinmn-blue: #1A5189ff;
    --air-superiority-blue: #6DA2C2ff;
    --eerie-black: #28251Aff;
    --gray: #717B77ff;
    --caf-noir: #3E2D16ff;
    --celadon: #99e2b4ff;
    --celadon-2: #88d4abff;
    --mint: #78c6a3ff;
    --mint-2: #67b99aff;
    --zomp: #56ab91ff;
    --zomp-2: #469d89ff;
    --viridian: #358f80ff;
    --pine-green: #248277ff;
    --skobeloff: #14746fff;
    --rich-black: #031120ff;
    --main-c:#FFC300;
    --black-c:#000;
    --primary-accent: #38a7bb;
}

* {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

a:visited{
    color: inherit;
}

p {
  font-size: 1.1rem;
}

.container{

    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: left;
    justify-content: left;
    background: url("/imgs/screenshot.png");
    background-size: cover;
    background-position: top;
    background-position: center;
    position: relative;
    flex-wrap: wrap;
}

.background-sticky {
    position: absolute;
    margin-left: 700px;
    margin-right: 10px;
}

.background-sticky img{
    width: 100%;
    height: 60%;
}

.container-single{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: left;
    justify-content: left;
    background: linear-gradient(to bottom, rgb(03 11 21 / .5), rgb(03 11 21 /.5)),url("/imgs/screenshot_single.png");
    background-size: cover;
    background-position: top;
    position: relative;
    flex-wrap: wrap;
}

.container-text {
    width: 90%;
    height: 30%;
    position: relative;
}

.container-text img {
  width: 30%;
  height: auto;
  padding-left: 2px;
}

.container-buttons {
    padding-left: 12px;
    position:relative;
    width: 60%;
    height: 20%;
}

.container-address {
    padding-left: 12px;
    position: relative;
    width: 90%;
    height: 20%;
}

.container-address p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18pt;
    color: #fff;
}
.container-social {
    position: absolute;
    top: 90%;
    left: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.content-text {
  width: 90%;
  max-width: 1080px;
  margin: auto;
  margin-left: 120px;
  margin-right: 120px;
  position: relative;
  border: 0 solid #333;
  padding-top: 27px !important;
  padding-right: 0px !important;
  padding-bottom: 49px !important;
  padding-left: 0px !important;
  background-color: var(--celadon);
}

@media (min-width:880px){
  
  .content-text {
    margin-left: 12px;
    margin-right: 12px;
  }
}

@media (max-width:768px){

  .container {
    width: 100vw;
    height: 90vh;
    background: url("/imgs/screenshot_minimal_1.png") ;
  }

  .container-single {
    width: 100vw;
    height: 90vh;
    background: url("/imgs/screenshot_single.png") ;
  }

  .container-text {
    width: 100vw;
    height: 10vh;
  }

  .container-text img {
    width: 53%;
    height: auto;
  }

  .container-buttons {
    width: 20%;
    height: 70%;
  }
  
  .container-address {
    width: 100%;
    height: 10%;
    position: absolute;
    top: 60%;
  }

  .container-address p {
    font-size: 10pt;
  }

  .container-social {
    top: 70%;
    left: 20%;
  }

  .content-text{
    width: 100%;
    margin: auto;
    margin-right: 1px;
  }

  .content-text p {
    font-size: 9pt;
  }
}

.content-text p {
    text-align: center;
    font-family: 'Josefin Sans';
    font-size: 18pt;
}

.content-text h3 {
    font-family: 'Lobster';
    font-size: 20pt;
    text-align: center;
}

.content-text img {
  width: 90%;
  height: 20%;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;

}

.grid-item {
    float: left;
    width: max-content;
    text-align: center;
    display: block;
}

.grid-item:hover {
    width: 20%;
    border-radius: 15%;
}

.grid-item h1 {
    color: #fff ;
    font-size: 12pt;
    font-family: 'Josefin Sans', sans-serif;
    padding-bottom: 0;
    padding-top: 0;
}

.grid-item .icon {
    width: 14vh;
    height: auto;
}

@media (max-width: 768px){
  .grid-item .icon {
    width: 9vh;
  }

  .grid-item:hover {
    width: 50%;
    border-radius: 15%;
  }

  .grid-item h1 {
    font-size: 9pt;
  }

  .grid-item img {
    width: 20%;
    height: 20%;
  }
}

.social-btn {
    cursor: pointer;
    height: 40px;
    width: 40px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    color: var(--caf-noir);
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    background: var(--mint);
    margin: 5px;
    transition: 1s;
}
  
.social-btn span {
    width: 0px;
    overflow: hidden;
    transition: 1s;
    text-align: center;
}
  
.social-btn:hover {
    width: 150px;
    border-radius: 5px;
}
  
.social-btn:hover span {
    padding: 2px;
    width: max-content;
}


/* Index */
/* Header*/
header.main-header {
    font-family: 'Titillium Web';
    font-size: 64pt;
    background: linear-gradient(to left,rgb(0 0 0 / 1), rgb(0 0 0 / .5), var(--rich-black));
    color: #fff;
    position: relative;    
    top: 0;
    width: 100%;
    z-index:9999;
}

.header-wrap{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: transparent;
    z-index: 999;
  }
  .wrap-logo-header{
    display: flex;
    align-items: center;
    flex-basis: 15%;
  }
  .logo-header{
    font-weight: bold;
    font-size: 1.2rem;
    color: #fff;
  }
  
  /* menu header */
  
  .nav-header{
    display: flex;
    align-items: center;
    width: 100%;
  }
  .nav-wrap-header{
    display: flex;
    flex-basis: 50%;
  }
  
  ul.main-menu{
    display: flex;
    width: 100%;
    z-index: 99;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
  }
  
  ul.main-menu #nav-main-contact{
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    background-color: var(--main-c);
    color: #fff;
  }
  li.menu-item{
    margin: .75rem;
    display: flex;
  }
  li.menu-item a{
    padding: .5rem 1rem;
    color: #fff;
  }
  li.menu-item a:hover{
    color: var(--main-c);
  }
  
  i.toggle-menu img{
    width: 27px;
    z-index: 99;
  }
  
  i.toggle-menu{
    display: none;
    background-color: #fff;
    border: none;
    z-index: 9999;
  }
  
  input#check{
    display: none;
  }
  
  @media (min-width:880px){
    .header-wrap{
      padding: .5rem 5rem;
    }
  }
  
  @media (min-width:768px){
    a.logo-header{
      color: var(--black-c);
    }
  }
  
  @media (max-width:768px){
    header.main-header{
      margin-bottom: 4rem;
    }
    .header-wrap{
      position: fixed;
      width: 100%;
      background-color: var(--rich-black);
      padding: 0;
      top: 0;
      z-index: 9999;
      height: 60px;
    }
    .wrap-logo-header{
      position: fixed;
      z-index:999;
      top: 3%;
      left: 3%;
    }
    .logo-header, li.menu-item a{
      color: #222;
    }
  
    i.toggle-menu{
      display: flex;
    }
    ul.main-menu,#nav-main-contact{
      display: none;
      left: 0;
      margin: 0;
      padding: 0;
    }
    ul.main-menu{
      position: fixed;
      background-color: #fff;
    }
    label.checkbtn{
      position: fixed;
      right: 3%;
      top: 3%;
      z-index: 9999;
      cursor: pointer;
    }
    #check:checked ~ ul{
      display: flex;
      z-index: 9;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      top: 0;
      font-size: 2rem;
    }
  }

/* Hero */
/* Hero Section HomePage */
.wrap-header-hero{
    background: linear-gradient(to bottom, rgb(0 0 0 / .75), rgb(0 0 0 / .5)), url(img/hero-front-page-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .hero-home-page{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrap-hero-home-page{
    color: #fff;
    text-align: center;
    width: 50%;
  }
  
  .wrap-hero-home-page p{
    margin-bottom: 2rem;
  }
  
  @media (max-width:768px){
    .wrap-hero-home-page{
      width: 100%;
      padding: 1rem;
    }
  }

/* Menu Restaurante */
.column-3{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 1rem;
    row-gap: 1rem;
  }
  
  .menu-restaurante{
    color: #fff;
    text-align: center;
    background-repeat: no-repeat;
    border-radius: 6px;
    display: flex;
    flex-flow: column;
  }
  hr{
    background: var(--main-c);
    height: 2px;
    width: 30px;
    border: none;
  }
  .precio-menu{
    font-weight: bold;
  }
  .precio-menu span{
    font-size: 2rem;
  }
  
  @media (max-width:880px){
    .column-3{
      grid-template-columns: repeat(2,1fr);
    }
  }
  @media (max-width:640px){
    .column-3{
      grid-template-columns: repeat(1,1fr);
    }
  }

.icon {
    width: 70%;
    height: 70%;
}

.icon-social img {
    width: 40px;
    display: inline-block;
    vertical-align: middle;
}

.icon-social {
    float: left;
    text-align: center;
    display: block;
    width: 33.33%;
}

.social-btn {
    cursor: pointer;
    height: 50px;
    width: 50px;
    font-family: 'Titillium Web', sans-serif;
    color: #333;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    background: white;
    margin: 5px;
    transition: 1s;
  }
  
  .social-btn span {
    width: 0px;
    overflow: hidden;
    transition: 1s;
    text-align: center;
  }
  
  .social-btn:hover {
    width: 150px;
    border-radius: 5px;
  }
  
  .social-btn:hover span {
    padding: 2px;
    width: max-content;
  }

  .home-carousel {
    position: relative;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .home-carousel .dark-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--celadon);
    opacity: 0.9;
    filter: alpha(opacity=90);
  }
  .home-carousel .owl-carousel {
    padding-top: 40px;
    padding-bottom: 10px;
  }
  .home-carousel .owl-theme .owl-controls .owl-page span {
    background: #666;
  }
  .home-carousel .owl-theme .owl-controls .owl-page.active span {
    background: #fff;
  }
  .home-carousel .owl-theme .owl-controls .owl-page:hover span {
    background: #fff;
  }

  

  @media (max-width: 767px) {
    .home-carousel {
      text-align: center !important;
    }
  }
  @media (min-width: 992px) {
    .home-carousel .right {
      text-align: right;
    }
  }
  .home-carousel h1,
  .home-carousel h2,
  .home-carousel h3,
  .home-carousel p,
  .home-carousel ul {
    color: var(--caf-noir);
  }
  .home-carousel h1 {
    font-family: 'Josefin Sans';
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 0.08em;
  }

  @media (max-width: 991px) {
    .home-carousel h1 {
      font-size: 24px;
    }
  }
  .home-carousel h2 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 0.08em;
  }
  .home-carousel ul,
  .home-carousel p {
    font-size: 12px;
    font-family: 'Josefin Sans';
    font-weight: 300;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 0.10em;
  }
  @media (max-width: 991px) {
    .home-carousel ul,
    .home-carousel p {
      font-size: 12px;
    }
  }
  .home-carousel ul li {
    margin: 10px;
  }

  .col-sm-5 {
    width: 41.66666667%;
    float: left;
  }
  .col-sm-7 {
      width: 58.33333333%;
      float: right;
  }

  .col-md-12{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .item {
    box-sizing: border-box;
  }

  .carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }