.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}

.grid-item{
    border: 1px solid #ddd;
    padding: .1rem;
    text-align: center;
    font-size: 1.2rem;
}

.item1 {
    grid-column: span 2;
    grid-row: span 2;
}

.item4 {
    grid-column: span 2;
    grid-row: span 1;
}

.item3 {
    grid-column: span 2;
    grid-row: span 1;
}

.item5 {
    grid-column: span 2;
    grid-row: span 1;
}
.item2,  .item6{
    grid-column: span 1;
    grid-row: span 1;
}
