<div id="about" class="about-main pad-top-100 pad-bottom-100">
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
            <h2 class="block-title text-center"> Aurora Tapas </h2>
            <p> La cocina es un lenguaje mediante el cual se expresa armonía, creatividad, felicidad, belleza, poesía, humor y cultura. Tu mejor aventura para experimentarlo todo en un platillo, comienza en Aurora Tapas. Aquí se ofrece una variada oferta en cocteles y picaditas en la que cada platillo está hecho con el corazón para disfrutar entre amigos y familia. La frescura y el sabor son tu mejor opción, porque no es solo comida, es amor; en lo simple están nuestros mejores platos.</p>
            <p> Nos encontramos ubicados en el Centro Histórico de la ciudad de Trinidad, rodeados de la magia y la belleza de esta joya detenida en el tiempo. Ven y degusta nuestras tapas y cócteles. </p>
       </div>
    </div>
    <!-- end col -->
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
            <div class="about-images">
                <img class="about-main" src="imgs/about-main.jpg" alt="About Main Image">
                <img class="about-inset" src="imgs/about-inset.jpeg" alt="About Inset Image">
            </div>
        </div>
    </div>
    <!-- end col -->
</div>
<!-- end row -->
</div>
<!-- end container -->