
{{ if default true .Site.Params.bannerCaption.enable }}
<div class="container pr">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="banner-static">
            <div class="banner-text">
                <div class="banner-cell">
                    <h1>Aurora Tapas </h1>  
                    <h2>Una experiencia para <span class="typer" 
                        id="some-id" 
                        data-delay="200" 
                        data-delim=":" 
                        data-words="compartir:disfrutar:recordar" 
                        data-colors="red"></span>
                        <span class="cursor" data-cursorDisplay="_" data-owner="some-id"></span></h2>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diem nonummy nibh euismod</p>
                    <div class="book-btn">
                        <a href="#reservation" class="table-btn hvr-underline-from-center">Book my Table</a>
                    </div>
                    <a href="#about">
                        <div class="mouse"></div>
                    </a>
                </div>
                <!-- end banner-cell -->
            </div>
            <!-- end banner-text -->
        </div>
        <!-- end banner-static -->
    </div>
    <!-- end col -->
</div>
{{ end }}
<!-- end container -->
