<div class="container-single" id="booking">
    <section class="container-booking-form">
        <div class="content-text">
            {{ .Content }}
        </div>
        <section class="form-group">
            <div class="heading">
                <h3>{{ i18n "contactForm" }}</h3>
            </div>
            <form action="{{ .Site.Params.formsubmit_action  }}" method="post">
                <div class="form-group">
                    <label for="name">{{ i18n "contactName" }}</label>
                    <input type="text" class="form-control" name="name" id="name" required>
                </div>
                <div class="form-group">
                    <label for="name">{{ i18n "contactName" }}</label>
                    <input type="text" class="form-control" name="name" id="name" required>
                </div>
    
            </form>
        </section>
        

    </section>
</div>
