{{ if default true .Site.Params.CarouselBar.enable }}
{{ if isset .Site.Data "bar" }}
{{ if gt (len .Site.Data.bar) 0 }}
<section>
    <div>
        <div></div>
        <div>
            <div class="slideshow-container"
                data-autoplay="{{ default true .Site.Params.CarouselBar.auto_play }}"
                data-slide-speed="{{ default 2000 .Site.Params.CarouselBar.slide_speed }}"
                data-pagination-speed="{{ default 1000 .Site.Params.CarouselBar.pagination_speed }}">
                {{ range sort .Site.Data.bar "weight" }}
                <div class="mySlides fade">
                    {{ if .href }}
                    <a href="{{ .href }}" target="_blank" title="{{ .title | safeHTML }}">
                    {{ end }}
                        <div class="numbertext"> {{ .weight }} </div>
                         <img src="{{ .image }}" style="width: 100%;" alt="">
                         <div class="text">{{ .description }}</div>
                </div>
                {{ end }}
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <br>
            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}