<div id="footer" class="footer-main">
    <div class="footer-box pad-top-70">
        <div class="container">
            <div class="row">
                <div class="footer-in-main">
                        <div class="footer-logo">
                            <div class="text-center">
                                <img src="imgs/logo.png" alt="" />
                            </div>
                        </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="footer-box-c">
                            <h3>{{ i18n "contactUs"}}</h3>
                            <p>
                                <i class="fa fa-map-signs" aria-hidden="true"></i>
                                <span>{{ .Site.Params.address }}</span>
                            </p>
                            <p>
                                <i class="fa fa-mobile" aria-hidden="true"></i>
                                <span>
                                {{ .Site.Params.phone }}
                            </span>
                            </p>
                            <p>
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span><a href="mailto:auroratapas@gmail.com">{{ .Site.Params.email }}</a></span>
                            </p>
                            <h3>{{i18n "socials" }}</h3>
                            <ul class="socials-box footer-socials pull-left">
                                <li>
                                    <a href="https://www.facebook.com/auroratapas">
                                        <div class="social-circle-border"><i class="fa  fa-facebook"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://instagram.com/auroratapas">
                                        <div class="social-circle-border"><i class="fa fa-instagram"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="mailto:auroratapas@gmail.com">
                                        <div class="social-circle-border"><i class="fa fa-envelope"></i></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- end footer-box-c -->
                    </div>
                    <!-- end col -->
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="footer-box-d">
                            <h3>{{ i18n "openingHours" }}</h3>

                            <ul>
                                <li>
                                    <p>{{ i18n "Monday" }} - {{ i18n "Wednesday" }} </p>
                                    <span> 12:00 PM - 12:00 AM </span>
                                </li>
                                <li>
                                    <p>{{ i18n "Thursday" }} - {{ i18n "Sunday"}} </p>
                                    <span>  12:00 PM - 2:00 AM</span>
                                </li>
                            </ul>
                        </div>
                        <!-- end footer-box-d -->
                    </div>
                    <!-- end col -->
                    <div class="col-lg-3 col-md-3 col-sm-6 col-sx-12">
                        <div class="footer-box-b">
                            {{ partial "map" .}}
                        </div>
                    </div>
                    <!-- end col -->
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <div class="footer-box-a">
                            

                        </div>
                        <!-- end footer-box-a -->
                    </div>
                    <!-- end col -->
                </div>
                <!-- end footer-in-main -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
            {{ partial "copyright" .}}
        <!-- end copyright-main -->
    </div>
    <!-- end footer-box -->
</div>