<div class="special-menu pad-top-100 parallax">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                    <h2 class="block-title color-white text-center"> {{ i18n "todaySpecial" }} </h2>
                </div>
                <div class="special-box">
                    <div id="owl-demo">
                        <div class="item item-type-zoom">
                            <a href="#" class="item-hover">
                                <div class="item-info">
                                    <div class="headline">
                                        CREMA AURORA
                                        <div class="line"></div>
                                        <div class="dit-line">La mezcla de la crema de la piña y el licor Marrasquino junto al ron Havana Club añejado, hacen de este trago una exquisitez para su paladar. </div>
                                    </div>
                                </div>
                            </a>
                            <div class="item-img">
                                <img src="imgs/Bar/Crema_Aurora.jpg" alt="sh-menu">
                            </div>
                        </div>
                        <div class="item item-type-zoom">
                            <a href="#" class="item-hover">
                                <div class="item-info">
                                    <div class="headline">
                                        ROLLITOS AURORA
                                        <div class="line"></div>
                                        <div class="dit-line">Puede llegar a ser una cena liviana y fácil o incluso, es tan versátil que, puede ser parte de una entrada en el almuerzo o un picoteo saludable y rápido.</div>
                                    </div>
                                </div>
                            </a>
                            <div class="item-img">
                                <img src="imgs/Tapas/Rollitos_Aurora.jpg" alt="sh-menu">
                            </div>
                        </div>
                        <div class="item item-type-zoom">
                            <a href="#" class="item-hover">
                                <div class="item-info">
                                    <div class="headline">
                                        CANCHÁNCHARA
                                        <div class="line"></div>
                                        <div class="dit-line">El aguardiante del ron Havana Club mezclado con la miel de abeja y el limón, hacen una verdadera magia en su paladar. </div>
                                    </div>
                                </div>
                            </a>
                            <div class="item-img">
                                <img src="imgs/Bar/Canchánchara.jpg" alt="sp-menu">
                            </div>
                        </div>
                        <div class="item item-type-zoom">
                            <a href="#" class="item-hover">
                                <div class="item-info">
                                    <div class="headline">
                                        TACOS DE ROPA VIEJA
                                        <div class="line"></div>
                                        <div class="dit-line">La ropa vieja o también llamada carne desmechada es una preparación a base de carne deshebrada, específicamente de la falda de la vaca. </div>
                                    </div>
                                </div>
                            </a>
                            <div class="item-img">
                                <img src="imgs/Tapas/Tacos_Res.jpg" alt="sp-menu">
                            </div>
                        </div>
                        <div class="item item-type-zoom">
                            <a href="#" class="item-hover">
                                <div class="item-info">
                                    <div class="headline">
                                        CAIPIRINHA
                                        <div class="line"></div>
                                        <div class="dit-line">Oriundo de Brasil y llegado a nuestra barra, este trago le ofrece una mezcla de exóticos sabores.</div>
                                    </div>
                                </div>
                            </a>
                            <div class="item-img">
                                <img src="imgs/Bar/Caipirinha.jpg" alt="sh-menu">
                            </div>
                        </div>
                        <div class="item item-type-zoom">
                            <a href="#" class="item-hover">
                                <div class="item-info">
                                    <div class="headline">
                                        PATACÓN MARACUCHO DE RES
                                        <div class="line"></div>
                                        <div class="dit-line">Relleno de carne mechada es una maravilla de la gastronomía venezolana. Está hecho a partir de plátanos verdes, que se fríen hasta que estén dorados y crujientes. Pueden disfrutarse como aperitivo, entrada o incluso como plato principal</div>
                                    </div>
                                </div>
                            </a>
                            <div class="item-img">
                                <img src="imgs/Tapas/Patacon_Maracucho_Res.jpg" alt="sh-menu">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end special-box -->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end special-menu -->