<div class="special-bar pad-top-100 parallax">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                  <h2 class="block-title color-white text-center"> Especialidad de la casa </h2>
              </div>
              <div class="special-box">
                  <div id="owl-demo">
                      <div class="item item-type-zoom">
                          <a href="#" class="item-hover">
                              <div class="item-info">
                                  <div class="headline">
                                      CREMA AURORA
                                      <div class="line"></div>
                                      <div class="dit-line">Los patacones con relleno de carne mechada son una maravillosa muestra de la gastronomía venezolana.Están delicias están hechas a partir de plátanos verdes, que se fríen hasta que estén dorados y crujientes. Son infaltables en todos los hogares venezolanos y pueden disfrutarse como aperitivo, entrada o incluso como plato principal. </div>
                                  </div>
                              </div>
                          </a>
                          <div class="item-img">
                              <img src="imgs/Bar/Crema_Aurora.jpg" alt="sp-menu">
                          </div>
                      </div>
                      <div class="item item-type-zoom">
                          <a href="#" class="item-hover">
                              <div class="item-info">
                                  <div class="headline">
                                      CANCHÁNCHARA
                                      <div class="line"></div>
                                      <div class="dit-line">La ropa vieja o también llamada carne desmechada es una preparación a base de carne deshebrada, específicamente de la falda de la vaca, consumida en varios países latinoamericanos y es que su sabor permite que se pueda disfrutar en ricas tostadas o en tacos.</div>
                                  </div>
                              </div>
                          </a>
                          <div class="item-img">
                              <img src="imgs/Bar/Canchánchara.jpg" alt="sp-menu">
                          </div>
                      </div>
                      <div class="item item-type-zoom">
                          <a href="#" class="item-hover">
                              <div class="item-info">
                                  <div class="headline">
                                      CAIPIRINHA
                                      <div class="line"></div>
                                      <div class="dit-line">Lorem ipsum dolor sit amet, consectetur adip aliqua. Ut enim ad minim venia.</div>
                                  </div>
                              </div>
                          </a>
                          <div class="item-img">
                              <img src="imgs/Bar/Caipirinha.jpg" alt="sp-menu">
                          </div>
                      </div>
                      </div>
                  </div>
              </div>
              <!-- end special-box -->
          </div>
          <!-- end col -->
      </div>
      <!-- end row -->
  </div>