<div class="container-single" id="menu">
  <section class="wrap section">
    <div class="content-text">
      {{ .Content }}
    </div>
  </section>
  

  <!-- Menu Restaurante -->
<section class="wrap section">
    <div class="wrap-title-section">
      <h2>Menús de Restaurante</h2>
    </div>
    <div class="column-3 columns">
      <div style="background: url(img/fondo-menu-restaurante.jpg) center;background-size: cover;" class="menu-restaurante">
        <h3>Menú mediodia</h3>
      <hr>
      <h4>Primeros Platos</h4>
      <p>Lorem, ipsum dolor.</p>
      <p>Lorem ipsum dolor sit amet.</p>
      <p>Lorem, ipsum.</p>
      <p>Lorem ipsum dolor sit amet consectetur.</p>
      <br>
      <h4>Segundos Platos</h4>
      <p>Lorem, ipsum dolor.</p>
      <p>Lorem ipsum dolor sit amet.</p>
      <p>Lorem, ipsum.</p>
      <p>Lorem ipsum dolor sit amet consectetur.</p>
      <br>
      <p class="precio-menu">Precio: <span >17€</span></p>
      </div>
      <div style="background: url(img/fondo-menu-restaurante.jpg) center;background-size: cover;" class="menu-restaurante">
      <h3>Menú noche</h3>
      <hr>
      <h4>Primeros Platos</h4>
      <p>Lorem, ipsum dolor.</p>
      <p>Lorem ipsum dolor sit amet.</p>
      <p>Lorem, ipsum.</p>
      <p>Lorem ipsum dolor sit amet consectetur.</p>
      <br>
      <h4>Segundos Platos</h4>
      <p>Lorem, ipsum dolor.</p>
      <p>Lorem ipsum dolor sit amet.</p>
      <p>Lorem, ipsum.</p>
      <p>Lorem ipsum dolor sit amet consectetur.</p>
      <br>
      <p class="precio-menu">Precio: <span >19€</span></p>
      </div>
      <div style="background: url(img/fondo-menu-restaurante.jpg) center;background-size: cover;" class="menu-restaurante">
        <h3>Menú fin de semana</h3>
      <hr>
      <h4>Primeros Platos</h4>
      <p>Lorem, ipsum dolor.</p>
      <p>Lorem ipsum dolor sit amet.</p>
      <p>Lorem, ipsum.</p>
      <p>Lorem ipsum dolor sit amet consectetur.</p>
      <br>
      <h4>Segundos Platos</h4>
      <p>Lorem, ipsum dolor.</p>
      <p>Lorem ipsum dolor sit amet.</p>
      <p>Lorem, ipsum.</p>
      <p>Lorem ipsum dolor sit amet consectetur.</p>
      <br>
      <p class="precio-menu">Precio: <span >21€</span></p>
      </div>
    </div>
  </section>
</div>