<div id="welcome">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                {{ .Content }}
            </div>
        </div>
        <!-- end col -->
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                <div class="about-images">
                    <img class="about-main" src="imgs/about-main.jpg" alt="About Main Image">
                    <img class="about-inset" src="imgs/about-inset.jpeg" alt="About Inset Image">
                </div>
            </div>
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
</div>
<!-- end container -->