<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode}}">
<head>
    {{ partial "head" .}}
</head>
<body>
    <!--<div id="loader">
        <div id="status"></div>
    </div>-->
    <div id="site-header">
        <header id="header" class="header-block-top">
            {{ partial "header" . }}
        </header>
        <!-- end header -->
    </div>
	<!-- end site-header -->
	<div id="banner" class="banner full-screen-mode parallax">
        {{ partial "banner" . }}
    </div>
    <!-- end banner -->

    <!-- about section -->
        {{ partial "about" . }}
    <!-- end about section -->

        {{ partial "menu" .}}
    <!-- end menu -->
   
        {{ partial "bar" .}}
    <!-- end bar -->
    
        {{ partial "gallery" .}}
    <!-- end gallery-main -->

    <!-- booking section -->
       {{ partial "booking" .}}
    <!-- end booking section-->
    
        {{ partial "footer" . }}
    <!-- end footer-main -->

    <a href="#" class="scrollup" style="display: none;">Scroll</a>
    
    <!-- ALL JS FILES -->
    <script src="js/all.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="js/custom.js"></script>
</body>
</html>